In [3]:
pip install faker

Collecting faker
  Downloading Faker-18.4.0-py3-none-any.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 2.1 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.4 in ./opt/anaconda3/lib/python3.9/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-18.4.0
Note: you may need to restart the kernel to use updated packages.

## 1. Create Table User

Component:

- user_id

- name

- contact

In [17]:
from faker import Faker
import pandas as pd
fake = Faker()

data = []

for i in range(50):
    user_id = i+1
    name = fake.name()
    contact = fake.phone_number()
    data.append([user_id, name, contact])
    
# Create a pandas DataFrame
df = pd.DataFrame(data, columns=["user_id", "name", "contact"])

# Print the DataFrame
# print(df)

# Save the DataFrame as a CSV file
df.to_csv("users.csv", index=False)

## 2. Modify Table Car

Add 2 column into the tabel:

- user_id

- kota_id

### Menambahkan kolom user_id

Dengan tetap memastikan user berada di rentang yang tersedia dalam table user

In [18]:
import pandas as pd
import random

car = pd.read_csv('Pacmann - SQL Project - car_product.csv')

In [19]:
random.seed(123) #agar tidak berganti-ganti

user_id = [random.randint(1,51) for i in range(50)]

#penambahan kolom user_id selaku buyer
car.insert(2,'user_id',user_id)

### Menambahkan kolom kota_id

Dengan tetap memastikan user berada di rentang yang tersedia dalam table city

In [20]:
#penambahan kolom kota_id selaku city
city = pd.read_csv('Pacmann - SQL Project - city.csv')

#mengambil kolom kota id dan menjadikannya list
list_kota_id = list(city['kota_id'])

In [21]:
random.seed(123) #agar tidak berganti-ganti

kota_id = [random.choice(list_kota_id) for i in range(50)]

car.insert(2,'kota_id',kota_id)

In [29]:
#merubah posisi urutan kolom untuk menyesuaikan dengan database
car = car.reindex(columns=['product_id', 'brand', 'model', 'body_type', 'year', 'price', 'kota_id'])
car.head(3)

   product_id   brand         model  body_type  year      price  kota_id
0           1  Toyota  Toyota Yaris  Hatchback  2016  175000000     3171
1           2  Toyota  Toyota Yaris  Hatchback  2018  215000000     3175
2           3  Toyota  Toyota Yaris  Hatchback  2014  162000000     3172

In [30]:
#simpan file untuk diunduh kemudian
car.to_csv("car.csv", index=False)

## 3. Create Table Advertisement

In [26]:
random.seed(123)
advertisement = pd.DataFrame(columns=['ad_id', 'product_id', 'date_post', 'status','user_id'])


statuses = ['Available', 'Sold']
product_id_list = list(car['product_id'])
for i in range(1,51):
    ad_id = i
    product_id = product_id_list[i-1]
    date_post = f"{random.randint(2022, 2023)}-{random.randint(1, 12):02d}-{random.randint(1, 28):02d}"
    status = random.choice(statuses)
    user_id = random.randint(1,51)
#     product_id = i


    advertisement = advertisement.append({'ad_id': ad_id,'product_id': product_id, 'date_post': date_post, 'status': status, 'user_id' : user_id}, ignore_index=True)

In [27]:
pd.DataFrame(advertisement).head()

  ad_id product_id   date_post     status user_id
0     1          1  2022-05-03       Sold      18
1     2          2  2022-01-13       Sold      22
2     3          3  2022-03-05       Sold      36
3     4          4  2023-12-08  Available       1
4     5          5  2023-02-20       Sold       5

In [28]:
#simpan file untuk diunduh kemudian
advertisement.to_csv("advertisement.csv", index=False)

## 4. Create Table Bid

In [10]:
import numpy as np

random.seed(123)
bid = pd.DataFrame(columns=['bid_id', 'bid_price', 'bid_status', 'bid_date','ad_id','buyer_id'])

statuses = ['Placed', 'Accepted', 'Rejected']
product_id_list = list(car['product_id'])

for i in range(1,51):
    bid_id = i
    bid_price = random.randint(100_000,250_000) * 1000 # untuk memperoleh harga kelipatan 1000
    bid_status = random.choice(statuses)
    bid_date = f"{random.randint(2022, 2023)}-{random.randint(1, 12):02d}-{random.randint(1, 28):02d}"
    ad_id = random.randint(i,51)
    buyer_id = random.randint(i,51)

    bid = bid.append({'bid_id': bid_id, 'bid_price': bid_price, 'bid_status': bid_status, 'bid_date': bid_date, 'ad_id': ad_id, 'buyer_id':buyer_id}, ignore_index=True)

In [11]:
bid.head()

  bid_id  bid_price bid_status    bid_date ad_id buyer_id
0      1  113726000   Accepted  2022-07-09     7        3
1      2  199385000   Rejected  2023-06-28     5       12
2      3  135404000   Accepted  2023-12-08    13        3
3      4  214367000     Placed  2023-02-01    24       50
4      5  217524000     Placed  2022-02-22    14       13

In [18]:
#simpan file untuk diunduh kemudian
bid.to_csv("bid.csv", index=False)

In [16]:
print(bid['ad_id'].unique())

[7 5 13 24 14 22 37 49 35 15 36 47 28 39 17 43 23 44 41 48 27 34 38 31 45
 46 50]

## Connect to SQL

In [2]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.6-cp39-cp39-macosx_10_9_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 2.3 MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.6
Note: you may need to restart the kernel to use updated packages.

In [3]:
import psycopg2
from sqlalchemy import create_engine

In [4]:
# Buat koneksi ke database
engine = create_engine('postgresql://postgres:doaIbu101004@localhost:5432/modalin')
conn = engine.connect()

In [20]:
city

    kota_id             nama_kota  latitude   longitude
0      3171    Kota Jakarta Pusat -6.186486  106.834091
1      3172    Kota Jakarta Utara -6.121435  106.774124
2      3173    Kota Jakarta Barat -6.135200  106.813301
3      3174  Kota Jakarta Selatan -6.300641  106.814095
4      3175    Kota Jakarta Timur -6.264451  106.895859
5      3573           Kota Malang -7.981894  112.626503
6      3578         Kota Surabaya -7.289166  112.734398
7      3471       Kota Yogyakarta -7.797224  110.368797
8      3273          Kota Bandung -6.914744  107.609811
9      1371           Kota Padang -0.950000  100.353056
10     1375      Kota Bukittinggi -0.305556  100.369167
11     6471       Kota Balikpapan -1.263539  116.827883
12     6472        Kota Samarinda -0.502183  117.153801
13     7371         Kota Makassar -5.133333  119.416667
14     5171         Kota Denpasar -8.656290  115.222099

In [21]:
city.to_sql('city', con=engine, if_exists='replace', index=False)

InternalError: (psycopg2.errors.DependentObjectsStillExist) cannot drop table city because other objects depend on it
DETAIL:  constraint car_kota_id_fkey on table car depends on table city
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL:
DROP TABLE city]
(Background on this error at: https://sqlalche.me/e/14/2j85)